# SVN
.svn
repo/

# VIM locks
*.swp

# LibreOffice locks
.~lock.*#

*.tmp

# Word temporary
~$*.doc*
#
# # Excel temporary
~$*.xls*
#
# # Excel Backup File
*.xlk

# Eclipse
.metadata/
.recommenders/
.checkstyle
.classpath
.project
.settings
bin/
target/

# IntelliJ IDEA
.idea/
*.iml

# Mac
.DS_Store

# Windows
Thumbs.db
